<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
  <body>
    <h1>Add a new Message</h1>
   
    <form method="POST" action="/new">

        <div class="form-field">
            <label>User:</label>
            <input type="text" name="user" required />
        </div>
       
    
      
        <div class="form-field">
            <label>Message:</label>
            <input type="text" name="text" required />
        </div>
      
    
      
        <div class="form-button">
            <button type="submit">Send</button>
            <a href="/" type="submit">Back</a>
        </div>
       
      </form>
    
   
  </body>
</html>